<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nombreTraza>
    <add key="nTraza" value="AlquileresWeb.trace" />
  </nombreTraza>

  <rutaTraza>
    <add key="rTraza" value="C:\inetpub\wwwroot\AlquileresMVC\Logs" />
  </rutaTraza>
  
  <separador>
    <add key="nSeparador" value="\" />
  </separador>
</configuration>
