<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Sistema para Reclutadores en .Net ASP.NET MVC - Se trata de un sistema hecho en ASP.NET MVC C# con SQL Server 2008
    Puede registrar, modificar y eliminar: Clientes, Biciletas, Categoria Biciletas, Precios, Descuentos.
    Puede generar un 0 - Alquiler propuesto, 1 - Procesar un Alquiler, y 2 - Pagar un alquiler ya procesado.
    Puede generar un pago - 0 y procesar un pago - 1, de uno o mas alquileres.
    Si un cliente tiene de 3 a 5 alquileres de cualquier tipo se le aplica el Descuento por Cabecera, de lo contrario se le aplica Descuento por Linea
-->
<configuration>
  <appSettings>
    <add key="DemoAlquileresMVC" value="Demostracion para Reclutadores en CSharp ASP.NET MVC - Sistema Alquiler de Bicicletas" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="DemoAlquileresMVCEntities" connectionString="metadata=res://*/Models.DemoAlquileresMVC.csdl|res://*/Models.DemoAlquileresMVC.ssdl|res://*/Models.DemoAlquileresMVC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADOLFRED-863C70\SQLSERVER2008;Initial Catalog=DemoAlquileresMVC;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoAlquileresMVC_VWEntities" connectionString="metadata=res://*/Models.DemoAlquileresMVC_VW.csdl|res://*/Models.DemoAlquileresMVC_VW.ssdl|res://*/Models.DemoAlquileresMVC_VW.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ADOLFRED-863C70\SQLSERVER2008;Initial Catalog=DemoAlquileresMVC;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>